---
import '../styles/global.css';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Beyond the Pixel</title>
    <meta name="description" content="Beyond the Pixel" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  </head>
  <body class="bg-base font-main min-h-screen flex items-center justify-center">
    <slot />
  </body>
</html>
